@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
	--golden: #ff9d00;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

main {
	width: 349px;
	height: 667px;
	border-radius: 15px;
	border: 1px solid black;
	margin: 4em auto;
	display: flex;
	flex-direction: column;
	position: relative;
	color: #ff9d00;
	background-color: #28284e;
}

.profile {
	width: 100px;
	height: 100px;
	background-color: #28284e;
	position: absolute;
	z-index: 1;
	border: 1px solid black;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.profile img {
	width: inherit;
	height: auto;
	position: relative;
}

.content {
	height: 90%;
	/* border: 1px dashed black; */
	position: relative;
	margin: 2em 1em 0 1em;
}

.mainsection {
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 1em;
	margin-bottom: 2em;
	border: 1px solid black;
	background-color: #2d2b55;
	transition: 1s all ease;
	visibility: hidden;
	opacity: 20%;
	top: 0;
	left: 0;
	overflow: auto;
	font-size: 20px;
}

.mainsection.shown {
	/* display: block; */
	opacity: 100%;
	visibility: visible;
}

.mainsection.rightSwipe {
	left: 2000px;
	transform: rotate(-45deg);
}
.mainsection.leftSwipe {
	left: -2000px;
	transform: rotate(45deg);
}

.navigation {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.navigation .toggle {
	flex-grow: 1;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 25px 0;
}

.navigation .toggle i {
	font-size: 40px;
}

.navigation .toggle span {
	font-size: 25px;
}

.navigation .toggle.selected {
	background-color: #452b09;
	border-radius: 0 0 15px 15px;
}

.mainsection.connect {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2em;
	align-items: center;
}

.link {
	width: 70px;
	height: 70px;
	border: 1px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 50px;
	color: inherit;
	position: absolute;
	transition: all 0.3s ease-in-out;
}
.link span {
	display: none;
}

.blob {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 50%;
	z-index: 5;
	position: absolute;
	background-color: #444444;
	/* cursor: pointer; */
}

.link.revealed.twitter {
	transform: translate(-100px, -100px);
}
.link.revealed.telegram {
	transform: translate(0px, -150px);
}
.link.revealed.github {
	transform: translate(100px, -100px);
}
/* todo: */
/* 
    -[] create the cool image switching effect, where the image changes according to the position of the mouse
    and their is a shadow box indicating the change
	-[] add network icon click animations: the telegram flies straight, with a box shadow, and twitter flies like a bird!
*/

.bio {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.bio .skill {
	/* border: 1px solid white; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	/* gap: 2em; */
}

.bio .bars {
	/* border: 2px solid blue; */
	width: 70%;
	height: 20px;
	position: relative;
	display: flex;
	align-items: center;
}
.bio .bars .bar {
	width: 100%;
	height: 20px;
	position: absolute;
	border-radius: 20px;
	border: 1px solid greenyellow;
}
.bio .bars .barfill {
	/* border: 2px solid yellow; */
	width: 80%;
	height: 15px;
	margin: 3px;
	position: absolute;
	border-radius: 10px;
	background: linear-gradient(to right, var(--golden), #f6f6f6, var(--golden));
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5),
		0px 0px 20px rgba(0, 0, 0, 0.5), 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.bio .bars .barfill.skill2 {
	/* border: 2px solid yellow; */
	width: 67%;
	position: absolute;
}

.bio .bars .barfill.skill3 {
	/* border: 2px solid yellow; */
	width: 30%;
	position: absolute;
}

.bio .bars .barfill.skill4 {
	/* border: 2px solid yellow; */
	width: 70%;
	position: absolute;
}

.bio .bars .barfill.skill5 {
	/* border: 2px solid yellow; */
	width: 34%;
	position: absolute;
}
.clickable {
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.clickable:hover {
	box-shadow: 0 0 3px 3px var(--golden);
}
